body {
	font-family: Arial;
	overflow-x: hidden;
	height: 100vh;
}

table {
	width: 100%;
	border: 1px solid gray;
}
thead {
	border-bottom: 1px solid gray;
}

td,
th {
	text-align: left;
	border-bottom: 1px solid gray;
	padding: 16px;
}

th {
	width: 75%;
}

.error {
	color: red;
}

.wrapper {
	margin: 0 auto;
}

.total {
	font-size: 150%;
	margin: 56px;
}

#chart.col {
	height: 100%;
}

.transactions {
	height: 100vh;
	overflow-y: scroll;
	border-right: 1px solid gray;
}
