body {
	font-size: 120%;
	font-family: Arial;
}

table {
	width: 100%;
}

td,
th {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f3f3f3;
}

.error {
	color: red;
}

.wrapper {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

.total {
	font-size: 150%;
	margin: 56px;
}

.row {
	margin: 0 auto;
	background-color: white;
	border-radius: 4px;
}

.col {
	padding: 0;
}


.transactions {
	text-align: left;
	max-height: 400px;
	overflow: auto;
	padding: 0;
	border: 1px solid rgb(165, 165, 165);
}

canvas {
	width: 100%;
	border: 1px solid rgb(165, 165, 165);
}
